body {
  color: #81142e;
  background-color: #7c0aff;
  font-family: 'Times New Roman', Times, serif, serif;
}

.subtitle {
  border: 2px solid black;
  padding: auto;
  margin: auto;
  width: 300px;
  text-align: center;
}


.subtitle { color: #00ff66 }
#page-title { font-size: 48px; color: rgb(60, 11, 11); }
.card {
  background-color: rgb(0, 208, 173);
    padding: 20px;}
#bach { font-size: 100px; color:bisque}
.fun-fact { color: rgb(37, 112, 22); }  

