body {
  color: #81142e;
  background-color: #7c0aff;
  font-family: 'Times New Roman', Times, serif, serif;
}

.subtitle {
  border: 2px solid black;
}


.subtitle { color: #00ff66 }
#page-title { font-size: 48px; color: rgb(60, 11, 11); }
.card {
  background-color: rgb(0, 208, 173);
    padding: 20px;}
#bok { font-size: 100px; color:bisque}
